{% load static %}

<!DOCTYPE html>
<html>
<head>
<title>Movie Recommendation by using k-means clustering</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Movies Pro Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- pop-up -->
<link href="{% static 'css/popuo-box.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- //pop-up -->
<link href="{% static 'css/easy-responsive-tabs.css' %}" rel='stylesheet' type='text/css'/>
<link rel="stylesheet" type="text/css" href="{% static 'css/zoomslider.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet"> 
<script type="text/javascript" src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
<!--/web-fonts-->
<link href='//fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>
<link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!-- cards-->
<link rel="stylesheet" type="text/css" href="{% static 'css/cards.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css'%}">


</head>


<body>
<!--/main-header-->
  <!--/banner-section-->
	<div id="demo-1" class="banner-inner">
	 <div class="banner-inner-dott">
		<!--/header-w3l-->
			   <div class="header-w3-agileits" id="home">
			     <div class="inner-header-agile part2">	
				<nav class="navbar navbar-default">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<h1><a  href="/"><span>M</span>ovies <span>R</span>atings</a></h1>
					</div>
					<!-- navbar-header -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
							<li><a href="/">Home</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Genre <b class="caret"></b></a>
								<ul class="dropdown-menu multi-column columns-3">
									<li>
									<div class="col-sm-4">
										<ul class="multi-column-dropdown">
											<li><a href="/action/">Action</a></li>
											<li><a href="/biography/">Biography</a></li>
											<li><a href="/crime/">Crime</a></li>
											<li><a href="/family/">Family</a></li>
											<li><a href="/horror/">Horror</a></li>
											<li><a href="/romance/">Romance</a></li>
											<li><a href="/sports/">Sports</a></li>
											<li><a href="/war/">War</a></li>
										</ul>
									</div>
									<div class="col-sm-4">
										<ul class="multi-column-dropdown">
											<li><a href="/adventutre/">Adventure</a></li>
											<li><a href="/comedy/">Comedy</a></li>
											<li><a href="/documentary/">Documentary</a></li>
											<li><a href="/fantasy/">Fantasy</a></li>
											<li><a href="/thriller/">Thriller</a></li>
										</ul>
									</div>
									<div class="col-sm-4">
										<ul class="multi-column-dropdown">
											<li><a href="/animation/">Animation</a></li>
											<li><a href="/custome/">Costume</a></li>
											<li><a href="/drama/">Drama</a></li>
											<li><a href="/history/">History</a></li>
											<li><a href="/musical/">Musical</a></li>
											<li><a href="/psychological/">Psychological</a></li>
										</ul>
									</div>
									<div class="clearfix"></div>
									</li>
								</ul>
							</li>
							
							<li>
						        <li><a href="/movielist/">Movies List</a></li>
						        <li ><a href="/contact/">Contact</a></li>
								<li><a href="/login/">Login</a></li>
								<li class="active"><a href="/register/">Register</a></li>
						</ul>

					</div>
					<div class="clearfix"> </div>	
				</nav>
					<div class="w3ls_search">
									<div class="cd-main-header">
										<ul class="cd-header-buttons">
											<li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
										</ul> <!-- cd-header-buttons -->
									</div>
									<div id="cd-search" class="cd-search">
										<form action="#" method="post">
											<input name="Search" type="search" placeholder="Search...">
										</form>
									</div>
								</div>
	
			</div> 

			   </div>
		<!--//header-w3l-->
		</div>
    </div>

    <br>
    <br>
    <div class="login_form_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <!-- login_wrapper -->
					<form method="POST" action="">
						{% csrf_token %}
						<div class="login_wrapper">
                      
                        
							<div class="formsix-pos">
								<div class="form-group i-email"> <input type="text" class="form-control" required="" id="username" placeholder="Username *" name="username"> </div>
							</div>
							
							<div class="formsix-pos">
								<div class="form-group i-email"> <input type="email" class="form-control" required="" id="email" placeholder="Email Address *" name="email"> </div>
							</div>
							
							<div class="formsix-e">
								<div class="form-group i-password"> <input type="password" class="form-control" required="" id="password1" placeholder="Password *" name="password1"> </div>
							</div>
						
							<div class="formsix-e">
								<div class="form-group i-password"> <input type="password" class="form-control" required="" id="password2" placeholder=" Confirm Password *" name="password2"> </div>
								
							</div>
							<!-- {{form.username}}
							<br>
							{{form.email}}
							<br>
							{{form.password1}}
							<br>
							{{form.password2}}
							<br>-->
							<div class="login_btn_wrapper">
								<input  style="width: 100%; padding: 16px; background-color: #2c6ad4;" class="btn btn-primary login_btn " type="submit" name="Create User" value="Register here">
							</div>
							

							



						   
							<!--<div class="login_btn_wrapper"> <a href="{% url 'movieapp:login' %}" class="btn btn-primary login_btn">Register</a> </div>-->
							<div class="login_message">
								{{form.errors}}
								<p>Already have an account? <a href="{% url 'movieapp:login' %}"> Sign in </a> </p>
							</div>
						</div> 
					</form>
                    
                </div>
            </div>
        </div>
    </div>
      
     
    

    </body>
	</html>